<article>

    <!-- binding to properties from our TS file -->
    <h3>{{ department.departmentName | shorten : 17 : true }}</h3>
    <h4>Department ID: {{ department.departmentId }}</h4>
    <h5>Employees:</h5>
    <ul>
        @for (employee of department.employees; track $index) {
          <li>{{ employee.employeeFirstname + ' ' + employee.employeeLastname }}</li>  
        }
    </ul>

    <button (click)="sendFavoriteDepartment()">FAVORITE</button>
    <button (click)="deleteThisDepartment()">DELETE</button>
    <button (click)="editDepartment()">EDIT</button>

</article>
