article {
    background-color: rgb(183, 216, 217);
    padding: 1em;
    width: 200px;
    border-radius: 10px;
    display: inline-block;
    margin: 0px 10px 10px 0px;
    min-height: 200px;
    vertical-align: top;
}

article h3, article h4, article h5 {
    margin-bottom: .5em;
}

article h3 {
    color: crimson;
}

article ul {
    margin-left: 1.5em;
    font-size: 12px;
}

button {
    padding: .5em;
    border: solid 1px black;
    border-radius: 8px;
    margin-top: 10px;
}

button:hover {
    background-color: darkkhaki;
    cursor: pointer;
}