<!-- <h2>{{ data[0].departmentName }}</h2>
<h3>Department ID: {{ data[0].departmentId }}</h3>
<h4>Employees:</h4>
<ul>
    <li>{{ data[0].employees[0].employeeFirstname }}</li>
    <li>{{ data[0].employees[1].employeeFirstname }}</li>
    <li>{{ data[0].employees[2].employeeFirstname }}</li>
</ul> -->

<div class="buttons">
    <h2>CRUD Buttons</h2>

    <!-- parentheses indicate an event listener; when the button "hears" a click event
            it executes the method -->
    <button (click)="createDepartment()">Create</button>
    <button (click)="getDepartmentById()">Get By ID</button>
    <button (click)="updateDepartment()">Update</button>
    <button (click)="deleteDepartment()">Delete</button>

</div>

<!-- more modern Angular syntax for *ngFor -->
@for (currDept of departments; track $index) {

    <!-- [] binds the department property value of this card to the value of
            department, which is the current item in the loop -->
    <app-department-card [department]="currDept"></app-department-card>

}



<!-- <ng-container *ngFor="let dept of departments">

    <h2>{{ dept.departmentName }}</h2>
    <h3>Department ID: {{ dept.departmentId }}</h3>
    <h4 *ngIf="dept.employees.length">Employees:</h4>
    <ul>
        
        <ng-container *ngFor="let emp of dept.employees">

            <li>{{ emp.employeeFirstname + ' ' + emp.employeeLastname }}</li>

        </ng-container>

    </ul>

    <br>

</ng-container> -->

