h2, h3 {
    margin-bottom: 10px;
}

table {
    border: solid 1px black;
    border-collapse: collapse;
    margin-bottom: 24px;
}

tr {
    border: solid 1px black;
}

th, td {
    border: solid 1px black;
    text-align: left;
    padding: .25em .5em;
}

.centered {
    text-align: center;
}

.darkGray {
    background-color: darkgray;
}

.lightGray {
    background-color: lightgray;
}

button {
    padding: 1em;
    border: solid 1px black;
    margin-right: 6px;
    /* rounds the corners */
    border-radius: 8px;
}

button:hover {
    background-color: darkkhaki;
    /* turns your cursor into a little hand */
    cursor: pointer;
}

.buttons {
    margin-bottom: 24px;
}

input {
    border: solid 1px black;
    font-size: 16px;
    width: 50px;
    margin-right: 24px;
    padding: .5em;
}

#updateName {
    width: 150px;
}