h2 {
    margin-bottom: 1em;
}

ul {
    font-size: 20px;
    margin: 0 0 2em 2em;
}

button {
    padding: 1em;
    border: solid 1px black;
    margin-right: 6px;
    /* rounds the corners */
    border-radius: 8px;
}

button:hover {
    background-color: darkkhaki;
    /* turns your cursor into a little hand */
    cursor: pointer;
}

.buttons {
    margin-bottom: 24px;
}

input {
    border: solid 1px black;
    font-size: 16px;
    width: 50px;
    margin-right: 24px;
    padding: .5em;
}